<div class="card shadow p-3 mb-5">
  <div class="card-header">Cadastro do horário</div>
  <div class="card-body">
    <%= form_with(model: [:interns, schedule], local: true, html: {}) do |form| %>
      <% if schedule.errors.any? %>
        <div class="alert alert-alert" id="error_explanation">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <%= I18n.t("errors.messages.not_saved",
                 count: schedule.errors.count,
                 resource: schedule.class.model_name.human.downcase)
          %>

          <ul>
          <% schedule.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul> 
        </div>
      <% end %>

      <%= render partial: "schedule_date_field", locals: {form: form, schedule: schedule} %>
      
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <%= form.label :arrival_time %>
            <%= form.time_field :arrival_time, class: "form-control", required: "required" %>
          </div>
        </div>
      </div>

      <div class="row">
        <%= set_lunch_beginning_field(schedule, form) %>
        <%= set_lunch_finishing_field(schedule, form) %>
      </div>

      <%= set_leaving_field(schedule, form) %>

      <div class="actions">
        <%= form.submit "Salvar", class: "btn btn-primary btn-sm" %>
        <%= link_to "Voltar", interns_schedules_path, class: "btn btn-success btn-sm" %>
      </div> 
    <% end %>
  </div>
</div>